---

- name: "Verify {{ name }} objects removed"
  set_fact:
    deployment: "{{ deployment_lookup }}"
    deployment_config: "{{ deployment_config_lookup }}"
    service: "{{ service_lookup }}"
    route: "{{ route_lookup }}"
  retries: 10
  delay: 5
  until:
    - not deployment_lookup and not deployment_config_lookup
    - not service_lookup
    - not route_lookup
