---

- name: "Verify {{ app_name }} objects exist"
  set_fact:
    deployment: "{{ deployment_lookup }}"
    deployment_config: "{{ deployment_config_lookup }}"
    service: "{{ service_lookup }}"
    route: "{{ route_lookup }}"
  retries: 10
  delay: 5
  until:
    - deployment_lookup or cluster == "openshift"
    - deployment_config_lookup or cluster == "kubernetes"
    - service_lookup
    - route_lookup or cluster == "kubernetes"

- name: "Wait for deployment to become available"
  debug:
    msg: "Deployment available status: {{ deployment_query }}"
  retries: 12
  delay: 10
  until:
    - deployment_query
  when: cluster == "kubernetes"

- name: "Wait for deployment config to become available"
  debug:
    msg: "DeploymentConfig available status: {{ deployment_config_query }}"
  retries: 12
  delay: 10
  until:
    - deployment_config_query
  when: cluster == "openshift"
