---

- name: "Verify {{ app_name }} objects exist"
  set_fact:
    deployment: "{{ deployment_lookup }}"
    deployment_config: "{{ deployment_config_lookup }}"
    service: "{{ service_lookup }}"
    route: "{{ route_lookup }}"
  retries: 10
  delay: 5
  until:
    - deployment_lookup or deployment_config_lookup
    - service_lookup
    - route_lookup

- name: "Wait for deployment to become available"
  debug:
    msg: "Deployment available status: {{ deployment_query }}"
  until:
    - deployment_query
  when: cluster == "kubernetes"

- name: "Wait for deployment config to become available"
  debug:
    msg: "DeploymentConfig available status: {{ deployment_config_query }}"
  until:
    - deployment_config_query
  when: cluster == "openshift"

- name: "Verify route is accessible"
  uri:
    url: "http://{{ route.spec.host }}"
    return_content: yes
  retries: 10
  delay: 5
  register: webpage
  until: webpage.status == 200
  when: cluster == "openshift"
