- name: hello-world-apb provision
  hosts: localhost
  gather_facts: false
  connection: local
  roles:
  - role: ansible.kubernetes-modules
    install_python_requirements: no
  - role: hello-world-apb
  vars:
    apb_action: provision
